* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #b3d615;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Geologica', sans-serif;
}

.flex_center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-style: none;
    background-color: #A0006D;
}

.button:hover {
    color: #FFF;
    background-color: #5a319d;
}

.text {
    color: rgb(26, 25, 22);
}

.card {
    width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register {
    background-color: #659DBD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}