{% extends "base.html" %}

{% block content %}
        <div class="flex_center">
            <button class="button">
                <a href="{% url "main:index" %}">Back</a>
            </button>
        </div>
        <div class="flex_center">
            <button class="button">
                <a href="{% url "main:result" %}">All history</a>
            </button>
        </div>
        <div class="flex_center">
            <button class="button">
                <a href="{% url "main:history_of_number" %}">History of number</a>
            </button>
        </div>
{% endblock %}