{% load static %}

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@200;400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static "/css/app.css" %}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% if messages %}
        <div class="text content flex_center">
            <ul class="text">
                {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </body>
</html>
